# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-zip/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl